/* some style */
body { margin: 0 }

div#menu ul {
  float: right;
}

div.content-wrapper {
  /* 
    margin-top: 2em;
    border-top: solid #e4e4e4 1px;
  */
  padding-top: 2em;
}

.pure-menu-link { width: 100%; }

body #app { margin: 2em 2em 2em 8em; }

h1 {
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 2em;
}

label { font-size: 130%; }

.done { color: #999; }

.footer {
  background: #e4e4e4;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}