/* some style */
body { margin: 0 }

div#menu ul {
  /* x-float: right; */
}

div.content-wrapper {
  /* 
    margin-top: 2em;
    border-top: solid #e4e4e4 1px;
  */
}

.pure-menu-link { width: 100%; }

body #app { 
  padding: 1em 1em 8em 1em; 
}

h1 {
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 1em;
}

label { font-size: 130%; }
form p input { vertical-align: text-top; } 

.done { color: #999; }

.footer {
  background: #e4e4e4;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.4ex;
}

.footer p { vertical-align: middle; }

@media screen and (min-width: 600px) {
  body #app { padding: 2em 2em 8em 2em; }
  h1 { margin-bottom: 2em; }
  div.content-wrapper { padding-top: 2em; }
  .pure-menu-link { width: 12ex; }
}

@media screen and (min-width: 800px) {
  body #app { padding-left: 4em; }
  form p input { margin-right: 1ex; } 
}

@media screen and (min-width: 1200px) {
  body #app { padding-left: 12em; }
}
